<h1><%= @post[:title] %></h1>
<p>Release Year: <%= @post[:release_year] %></p>
<p>Rating: <%= @post[:rating] %></p>
<form action="movies/<%= @post[:id] %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>
<a href="movies/<%= @post[:id] %>">Edit</a>
